.choose-us-sec-div {
    width: 100%;
    height: 400px;
    display: flex;
}

.choose-us-sec-img-div {
    width: 50%;
    height: 100%;
    position: relative;
}

.choose-us-sec-img-div:before {
    content: "";
    position: absolute;
    bottom: -20%;
    left: 25%;
    height: 50%;
    width: 50%;
    background-image: url('../../Assets/ChooseUs/choose-us-2.png');
    background-size: cover;
}

.choose-us-sec-img-div>img {
    width: 100%;
    height: 100%;
}

.choose-us-sec-text-div {
    width: 50%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.choose-us-sec-text-div>h1 {
    font-weight: 800;
    color: var(--heading-color);
    position: relative;
    font-size: 34px;
}

.choose-us-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.choose-us-list>li {
    font-size: 18px;
    display: flex;
    align-items: center;
    padding: 2px;
}

.choose-us-icon {
    font-weight: 800;
    color: 18px;
}

.booknow-btn {
    background-color: var(--color-2);
    color: white;
    border: none;
    outline: none;
    padding: 10px;
    width: 200px;
    border-radius: 16px;
}

.booknow-btn:hover {
    background-color: #41aeec;
}


@media only screen and (max-width:768px) {
    .choose-us-sec-div {
        flex-direction: column-reverse;
        height: auto;
        border-radius: 16px;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
        overflow: hidden;
    }

    .choose-us-sec-img-div {
        width: 100%;
        height: 300px;
    }

    .choose-us-sec-img-div:before {
        display: none;
    }

    .choose-us-sec-text-div {
        width: 100%;
    }
}