.main-rental-div {
    padding: 60px 0px;
}

.rentals-hd {
    font-weight: 800;
    color: var(--heading-color);
    position: relative;
}

.rentals-hd::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 150px;
    height: 2px;
    background-color: var(--color-2);
}

.houses-container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 50px 0px;
}