.about-us-container>h1 {
    text-align: center;
    font-weight: 800;
}

.about-us-container>p {
    margin: 20px 0px;
    font-size: 24px;
    font-weight: normal;
    text-align: center;
}

.about-us-container>img {
    width: 100%;
}